@CHARSET "utf-8";

/* Color palette: http://coolors.co/ffffff-cbccb5-aba9c3-275dad-5b616a */
html {
	margin: 0;
	padding: 0;
	background-color: white;
}

body {
	width: 85%;
	margin: 0 auto;
	font: 1.4em play, sans-serif;
	color: #5b616a; 
}
h1 {
	width: 33%;
	border-left: thick solid #cbccb5;
	padding-left: 0.1em;
	top: 90%;
	color: #cbccb5;
}

img {
	position: absolute;
	height: 288px;
	width: 384px;
	right: 5%;
	top: 0px;
	z-index: 1;
}

nav {
	position: left;
	margin: 0 auto;
	padding: 2px;
	text-align: left;
	background-color: #cbccb5;
}

nav a {
	color: #275dad;
}

nav ul {
	list-style-type: none;
	margin:  0;
	padding: 0;
}

nav li {
	display: inline;
	padding-right: 6px;
	
}

#active a {
	color: #5b616a;
}
